@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Dancing+Script:wght@600 & family= Passion+One & display=swap');
@import
url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');

:root{
    --fontepadrao: Verdana, Geneva, sans-serif;
    --fonte2:'Passion One', cursiva;
    --fonte3:'Sriracha', cursive;
}
*{
    margin:0px;
    padding:0px;
}

body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fontepadrao);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-size: 10vh;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);

}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

a:hover{
    text-decoration: underline;

}

#img1{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;

}

#img2{
    background-image: url("../imagens/background002.jpg");
   

}

section > P{
    padding-bottom: 2em;
}

section{
    font-size: 3.5vh;
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left:30px;

}

section.normal{
    background-color: white;
    color:black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.527);
    color:white;
    box-shadow: inset 7px 7px 20px 0px rgba(0, 0, 0, 0.356);
    background-attachment: fixed;
    background-size: cover;
}

section.imagem > p {
    display:inline-block;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.308);
    text-shadow: 2px 1px 2px black;
}

footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;

}